---
layout: default
---

<nav class="top bold">
  <ul>
    <li>
      <a href="/work">&lt; Back to Selected Work</a>
    </li>
  </ul>
</nav>

{{content}}

{% assign artCollection = collections.art | sort: "data.workYear" | reverse %}

{% assign previousWork = artCollection | getPreviousCollectionItem: page %}
{% unless previousWork %}
{% assign previousWork = artCollection | last: page %}
{% endunless %}

{% assign nextWork = artCollection | getNextCollectionItem: page %}
{% unless nextWork %}
{% assign nextWork = artCollection | first: page %}
{% endunless %}

<nav class="bottom bold">
  <ul>
    <li>
      <a href="{{ previousWork.url }}">&lt; {{ previousWork.data.title }}</a>
    </li>
    <li>
      <a href="{{ nextWork.url }}">{{ nextWork.data.title }} &gt;</a>
    </li>
  </ul>
</nav>
