---
layout: default
customStyle: >
  :root {
    --main-bg-color:#cfd3ed;
    --main-bg-gradient:radial-gradient(#d7e4c8, #cbe7e9, #d7dbf5);
  }
---

{% assign postCollection = collections.posts | reverse %}
{% assign pageNumber = 0 %}
{% for post in postCollection %}
  {% if post.url == page.url %}
    {% assign pageNumber = forloop.index0 | divided_by: 5 | floor | plus: 1 %}
    {% assign indexNumber = forloop.index %}
  {% endif %}
{% endfor %}

<nav class="top bold">
  <ul>
    <li>
      <a href="/blog/{% if pageNumber > 1 %}page/{{ pageNumber }}/{% endif %}#{{date}}">&lt; View in blog feed</a>
    </li>
  </ul>
</nav>

<article class="blog-post">

  <h2>{{title}}</h2>

  <p class="subtitle">{{date | formatDateOnly}}</p>

  <p></p>

  {% image thumbnail, thumbnailAlt, 1440, "" %}

  {{content}}

</article>

{% assign previousPost = postCollection | getPreviousCollectionItem: page %}

{% assign nextPost = postCollection | getNextCollectionItem: page %}

<nav class="bottom bold">
  <ul>
  {% if previousPost %}
    <li>
      <a href="{{ previousPost.url }}">&lt; {{previousPost.data.title}}</a>
    </li>
  {% endif %}
  {% if nextPost %}
    <li>
      <a href="{{ nextPost.url }}">{{nextPost.data.title}} &gt;</a>
    </li>
  {% endif %}
  </ul>
</nav>
