<!DOCTYPE HTML>

<!--
  ╔═╗╔═╗╦  ╔═╗╔╦╗╔═╗╦╔═╔═╗╔═╗╔╦╗╦  ╦
  ╠═╝╠═╣║  ║ ║║║║╠═╣╠╩╗║ ║╠═╝ ║ ╚╗╔╝
  ╩  ╩ ╩╩═╝╚═╝╩ ╩╩ ╩╩ ╩╚═╝╩o  ╩  ╚╝

  ♦ handmade with 11ty by paloma kop, 2024 ♦

  ╔══════════════════════════════════════════╗
  ║ This website and its contents are        ║
  ║ released under a Creative Commons        ║
  ║ Attribution-NonCommercial-ShareAlike     ║
  ║ 4.0 International License.               ║
  ╚══════════════════════════════════════════╝
  ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓
  https://creativecommons.org/licenses/by-nc-sa/4.0/

-->

<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="description" content="{{ogDescription}}">
  <meta name="viewport" content="width=device-width,initial-scale=1,viewport-fit=cover">

  <!-- page title -->
  <title>{{title}}</title>

  <link rel="icon" type="image/x-icon" sizes="any" href="https://s3.amazonaws.com/palomakop.tv/favicon.ico">
  <link rel="icon" type="image/svg+xml" href="https://s3.amazonaws.com/palomakop.tv/favicon.svg">
  <link rel="alternate" type="application/rss+xml"
  title="Paloma Kop ♦ RSS Feed"
  href="/rss.xml" />
  <link href="/css/style.css" rel="stylesheet">
  <link href="https://merveilles.town/@palomakop" rel="me">

  <!-- css -->
  <style>
    {{customStyle}}
  </style>

  <!-- opengraph tags -->
  <meta property="og:description" content="{{ogDescription}}">
  <meta property="og:image" content="{{ogImage}}">

</head>
