<!DOCTYPE HTML>

<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="description" content="{{description}}">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,viewport-fit=cover">

    <!--
    ╔═╗╔═╗╦  ╔═╗╔╦╗╔═╗╦╔═╔═╗╔═╗╔╦╗╦  ╦
    ╠═╝╠═╣║  ║ ║║║║╠═╣╠╩╗║ ║╠═╝ ║ ╚╗╔╝
    ╩  ╩ ╩╩═╝╚═╝╩ ╩╩ ╩╩ ╩╚═╝╩o  ╩  ╚╝

    ♦ built with 11ty by paloma kop, 2024-{{ "now" | date: "%Y" | to_integer }} ♦

    ╔══════════════════════════════════════════╗
    ║ This website and its contents are        ║
    ║ released under a Creative Commons        ║
    ║ Attribution-NonCommercial-ShareAlike     ║
    ║ 4.0 International License.               ║
    ╚══════════════════════════════════════════╝
    ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓
    https://creativecommons.org/licenses/by-nc-sa/4.0/
    -->

  <!-- page title -->
  <title>{{title}}{% unless title == "Paloma Kop" or title == "This page intentionally left blank" %} ✦ Paloma Kop {% endunless %}</title>

  <link rel="icon" type="image/x-icon" sizes="any" href="https://s3.amazonaws.com/palomakop.tv/favicon.ico">
  <link rel="icon" type="image/svg+xml" href="https://s3.amazonaws.com/palomakop.tv/favicon.svg">
  <link rel="alternate" type="application/rss+xml"
  title="Paloma Kop ♦ RSS Feed"
  href="/rss.xml" />
  <link href="/css/style.css" rel="stylesheet">

  {% if dark %}
  <link href="/css/dark.css" rel="stylesheet">
  {% endif %}

  <link href="https://merveilles.town/@palomakop" rel="me">

  {% if customStyleSheet %}
  <link href="/css/{{customStyleSheet}}.css" rel="stylesheet">
  {% endif %}

  {% if customStyle %}
  <!-- css -->
  <style>
  {{ customStyle }}
  </style>
  {% endif %}

  {% if bgImage %}
  <style>
  :root {
    --main-bg-gradient:none;
    --main-bg-color:#000000;
  }
  .bg {
    background-image:url('{{bgImage}}');
    {% if bgImageOpacity %}opacity:{{bgImageOpacity}};{% endif %}
  }
  </style>
  {% endif %}

  {% if runicon %}
  <style type="text/css">
    @font-face {
      font-family:'RuniconCypher';
      src:url('https://s3.us-east-1.amazonaws.com/palomakop.tv/fonts/runicon_cypher.woff2') format('woff2'), url('https://s3.us-east-1.amazonaws.com/palomakop.tv/fonts/runicon_cypher.woff') format('woff');
      font-display:block;
    }
  </style>
  {% endif %}

  <!-- opengraph tags -->
  <meta property="og:description" content="{{description}}">
  <meta property="og:image" content="https://palomakop.tv{% imageUrl thumbnail 1200 %}">

  {% if lightbox %}
  {% include "lightboxInit.liquid" %}
  {% endif %}

   {% if musicPlayer %}
  <!-- music player -->
  <link href="/css/musicplayer.css" rel="stylesheet">
  <script src="/js/musicplayer.js"></script>
  {% endif %}

</head>
