---
layout: global
title: Now
customStyleSheet: now_style
dark: true
bgImage: https://s3.us-east-1.amazonaws.com/palomakop.tv/graphics/glitch_bg.jpg
bgImageOpacity: 0.7
---

<div class="mobile-column-container">
  <header>
    <h1>Paloma Kop</h1>
    <p class="tagline">Artist & Technologist</p>
    <ul class="social-logos">
      {% for social in socials %}
        {% if social.active %}
          <li>
            <a href="{{ social.url }}" target="_blank" rel="noopener">
              <img src="{{ social.logo }}">
            </a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </header>

  <main>

    <a href="/" class="now-button">
      Visit my website
    </a>

    <a href="/contact" class="now-button">
      Contact me
    </a>

    <a href="/newsletter" class="now-button">
      Newsletter
    </a>

    <a href="/zine-club" class="now-button">
      Zine Club
    </a>

    {% include 'upcoming.liquid' %}

    <h2>Now</h2>

    <h3>Recent Updates</h3>
    <ul class="updates">
      {% assign nonArchivedUpdates = collections.allUpdates | where: "archived", false %}
      {% for update in nonArchivedUpdates limit:5 %}
        <li>{{ update.message | markdownLinks }}
          {% if update.image %}
            {% if update.linkUrl %}<a href="{{ update.linkUrl }}">{% endif %}
            {% image update.image, "", 400, "" %}
            {% if update.linkUrl %}</a>{% endif %}
          {% endif %}
          <strong>{{ update.date | formatDateShort }}</strong>
        </li>
      {% endfor %}
    </ul>

    {{content}}

    <nav class="centered">
      <ul>
        <li>
          <a href="/updates">
            See all updates
          </a>
        </li>
      </ul>
    </nav>

  </main>

  <footer>
    {% assign latestUpdateDate = collections.allUpdates[0].date %}
    {% assign pageDate = page.date | date: "%Y-%m-%d" %}
    {% if latestUpdateDate > pageDate %}
      {% assign displayDate = latestUpdateDate | formatDateOnly %}
    {% else %}
      {% assign displayDate = page.date | date: "%B %e, %Y" %}
    {% endif %}
    <p>
      This is my /now page. It was last updated on {{ displayDate }}. <a href="/notes">See all notes</a>.
    </p>
  </footer>


</div>
