{% assign eventCollection = collections.upcomingEvents %}

{% unless eventCollection.size == 0 %}

{% if page.url == "/" %}
<div class="about-text">
  <h3>
    <img src="https://s3.us-east-1.amazonaws.com/palomakop.tv/graphics/triangle.svg" class="about-title-graphic" alt=""/>
    Events
  </h3>
{% endif %}

{% if page.url == "/now/" %}
  <h2>
    Upcoming Events
  </h2>
{% endif %}

<div class="events-grid">
  {%- for event in eventCollection -%}
  <a href="{{ event.url }}" class="now-button">
    <b>{{ event.data.eventDate | formatDateRangeYearOptional: event.data.eventEndDate }}{% if event.data.eventTime %}, {{ event.data.eventTime }}{% endif %}</b>
    <ul class="event-title"><li><i>{{ event.data.title | split: ' / ' | join: '</i></li><li><i>' }}</i>
    {% unless event.data.title.size > 50 or event.data.title contains ' / ' %}{{ event.data.type }}{% endunless %}</li></ul>
    <div class="caption">{% if event.data.locationShortName %}{{ event.data.locationShortName }}{% else %}{{ event.data.location }}{% endif %}{% if event.data.locationCity %}, {{ event.data.locationCity }}{% endif %}</div>
  </a>
  {%- endfor -%}
</div>

{% if page.url == "/" %}
</div>
{% endif %}

{% endunless %}
