---
layout: default
---

<nav>
  <ul>
    <li>
      <a href="/work">&larr;Back to index</a>
    </li>
  </ul>
</nav>

{{content}}

{% assign previousWork = collections.work | getPreviousCollectionItem: page %}
{% assign nextWork = collections.work | getNextCollectionItem: page %}

<nav class="centered">
  <ul>
  {% if previousWork %}
    <li>
      <a href="{{ previousWork.url }}">&larr;{{ previousWork.data.title }}</a>
    </li>
    {% endif %}
    {% if nextWork %}
    <li>
      <a href="{{ nextWork.url }}">{{ nextWork.data.title }}&rarr;</a>
    </li>
    {% endif %}
  </ul>
</nav>
