---
layout: default
---

<nav>
  <ul>
    <li>
      <a href="/work">&lt; Back to index</a>
    </li>
  </ul>
</nav>

<h2><i>{{title}}</i>, {{workYear}}</h2>

{{content}}

{% assign workCollection = collections.work | sort: "data.workYear" | reverse %}
{% assign previousWork = workCollection | getPreviousCollectionItem: page %}
{% assign nextWork = workCollection | getNextCollectionItem: page %}

<nav class="centered">
  <ul>
  {% if previousWork %}
    <li>
      <a href="{{ previousWork.url }}">&lt; {{ previousWork.data.title }}</a>
    </li>
    {% endif %}
    {% if nextWork %}
    <li>
      <a href="{{ nextWork.url }}">{{ nextWork.data.title }} &gt;</a>
    </li>
    {% endif %}
  </ul>
</nav>
