---
layout: default
title: Blog
permalink: "blog/{% if pagination.pageNumber > 0 %}page/{{ pagination.pageNumber | plus: 1 }}/{% endif %}index.html"
pagination:
  data: collections.posts
  size: 5
  reverse: true
  alias: posts
customStyle: >
  :root {
    --main-bg-color:#cfd3ed;
    --main-bg-gradient:radial-gradient(#d7e4c8, #cbe7e9, #d7dbf5);
  }
lightbox: true
---

<h2>Blog</h2>

<p>Welcome! Feel free to browse the <a href="/blog/archive/">archive</a> or subscribe via <a href="/rss.xml" target="_blank">RSS</a>. I share upcoming things in my <a href="/newsletter">email newsletter</a> and my <a href="/now">now page</a>.</p>

{% include "paginav.liquid" %}

<div class="article-list">
{% for post in posts %}
  <article id="{{post.data.date}}" class="blog-post">
    <h3><a href="{{ post.url }}">{{ post.data.title }}</a></h3>
    <p class="metadata">{{post.data.date | formatDateOnly}} | <a href="{{ post.url }}">Permalink</a></p>
    {% image post.data.thumbnail, post.data.thumbnailAlt, 1440, "" %}
    {{post.content}}
  </article>
{% endfor %}
</div>

{% include "paginav.liquid" %}
