---
layout: default
containerType: wide
title: Zine Club
customStyle: >
  :root {
    --main-bg-color:#eceee7;
    --main-bg-gradient:radial-gradient(#e1f6dd, #eeefdd, #f8ecf2, #eef2ea);
  }
lightbox: true
clubMembers: 32
mysteryObjectsSent: 177
quarterlyEzinesSent: 132
monthlyIncome: 204
fundingGoal: 300
---

<div class="column-container">

  <img src="https://s3.amazonaws.com/palomakop.tv/zine-club/zine_club.png" style="width:300px;">

  <p>
    <b>Interested in receiving zines and/or mystery objects???</b>
  </p>

  <p>
    <i>Zine Club</i> is a thing where you can send me a small payment each month in exchange for getting cool stuff at regular intervals. (It's basically my version of a P*treon, except payments go directly through Stripe.) Every subscription helps enable me to spend a little more time each month making weird art.
  </p>

  <p>
    There are two tiers:
  </p>

</div>


<div class="tier-gallery">
  <div class="tier">
    <div class="tier-upper">
      <a href="https://buy.stripe.com/fZe29756V4Fh448002" target="_blank" rel="noopener">
        <img src="https://s3.amazonaws.com/palomakop.tv/zine-club/e_zine.png" />
      </a>
    </div>

    <div class="tier-lower">
      <h2>Tier 1: Quarterly E-zine</h2>

      <p class="tier-caption">
        Receive a Quarterly Digital E-zine, downloadable and DRM-free, in your email inbox.
      </p>

      <ul class="table-of-contents">
        <li>Quarterly digital e-zine</li>
        <li>Support weird art</li>
      </ul>

      <a class="rainbutton centered" href="https://buy.stripe.com/fZe29756V4Fh448002" target="_blank" rel="noopener">Subscribe for $3/month</a>

    </div>
  </div>

  <div class="tier">
    <div class="tier-upper">
      <a href="https://buy.stripe.com/3cs7tr6aZgnZ1W08ww" target="_blank" rel="noopener">
        <img src="https://s3.amazonaws.com/palomakop.tv/zine-club/mystery_object.png" />
      </a>
    </div>

    <div class="tier-lower">
      <h2>Tier 2: Bimonthly Mystery Object</h2>

      <p class="tier-caption">
        Receive the Quarterly E-zine via email, <b>and</b> receive a Physical Mystery Object (print, sticker, and/or zine) via snail mail every other month.
      </p>

      <ul class="table-of-contents">
        <li>Quarterly digital e-zine</li>
        <li>Bimonthly mystery object</li>
        <li>Support weird art</li>
      </ul>

      <a class="rainbutton centered" href="https://buy.stripe.com/3cs7tr6aZgnZ1W08ww" target="_blank" rel="noopener">Subscribe for $7/month</a>

    </div>
  </div>
</div>

<div class="column-container">

  <h2>How does it work?</h2>

  <p>
    <b>Quarterly E-zines</b> will be sent in March, May, September, and November.
  </p>

  <p>
    <b>Bimonthly Mystery Objects</b> will be sent in February, April, June, August, October, and December.
  </p>

  <p>
    Things will be sent out some time near the end of the months listed above; exact timing can vary. Physical shipments are sent from New York via USPS, typically as a letter, postcard, or media mail, often without tracking. Shipping time will vary based on your location, but please allow a few weeks.
  </p>

  <p>
    I accept international orders, and Stripe supports many currencies; however international shipping can take a long time, so please be patient if you live far away from me.
  </p>

  <p>
    Your payment method will be charged each month on the same day you subscribed. You can change your address or payment method, switch tiers, or cancel at any time via the button below. Feel free to <a href="/contact">get in touch</a> if you have any questions!
  </p>

  <a class="rainbutton" href="https://billing.stripe.com/p/login/28o9E92ga3yH3kIfYY" target="_blank" rel="noopener">Edit or cancel your subscription</a>

  <h2 style="margin-top:2em;">Gallery of Past Zines and Objects</h2>

{% photoGrid "three-column" %}
{% photoGridItem "https://s3.us-east-1.amazonaws.com/palomakop.tv/zine-club/gallery/stickers.jpg", "Exquisite Machines", true, false %}
{% photoGridItem "https://s3.us-east-1.amazonaws.com/palomakop.tv/zine-club/gallery/self_same.png", "Self-Same Zine", true, false %}
{% photoGridItem "https://s3.us-east-1.amazonaws.com/palomakop.tv/zine-club/gallery/foil_postcard.jpg", "Foil postcard", true, false %}
{% photoGridItem "https://s3.us-east-1.amazonaws.com/palomakop.tv/zine-club/gallery/spore_card.jpg", "Life Cycle of Aritanian Flowers", true, false %}
{% photoGridItem "https://s3.us-east-1.amazonaws.com/palomakop.tv/zine-club/gallery/8_card_spread.jpg", "Life Cycle of Aritanian Flowers", true, false %}
{% photoGridItem "https://s3.us-east-1.amazonaws.com/palomakop.tv/zine-club/gallery/3_card_spread.jpg", "Life Cycle of Aritanian Flowers", true, false %}
{% photoGridItem "https://s3.us-east-1.amazonaws.com/palomakop.tv/zine-club/gallery/messy_spread.jpg", "Life Cycle of Aritanian Flowers", true, false %}
{% photoGridItem "https://s3.us-east-1.amazonaws.com/palomakop.tv/zine-club/gallery/places.png", "Places Zine", true, false %}
{% photoGridItem "https://s3.us-east-1.amazonaws.com/palomakop.tv/zine-club/gallery/pcb_front.jpg", "PCB Object", true, false %}
{% photoGridItem "https://s3.us-east-1.amazonaws.com/palomakop.tv/zine-club/gallery/pcb_back.jpg", "PCB Object", true, false %}
{% photoGridItem "https://s3.us-east-1.amazonaws.com/palomakop.tv/zine-club/gallery/kicad.png", "PCB Object", true, false %}
{% photoGridItem "https://s3.us-east-1.amazonaws.com/palomakop.tv/zine-club/gallery/kicad_3d.png", "PCB Object", true, false %}
{% endphotoGrid %}

  <h2 style="margin-top:2em;" id="testimonials">Testimonials</h2>

  <div class="quote-card">
    <blockquote>
      I've been a lucky recipient of a veritable question mark in an envelope every other month, and while I never know exactly what's inside, I know it's gonna be good. Thank you Paloma Kop for sharing your art to our mailboxes!
    </blockquote>
    <p>— Rachel</p>
  </div>

  <div class="quote-card">
    <blockquote>
      Being a member of the Zine Club has added a pocket dimension to my reality. Occasionally, and often when I least suspect it, a transmission or object appears from this dimension and it forces me to take a break from my normal life to ponder the other world that I glimpse through these findings. I love it. 
    </blockquote>
    <p>— Jon D</p>
  </div>

  <div class="quote-card">
    <blockquote>
      Something enigmatic to hold and consider. To stick, shuffle, touch, attach, etc. And thoughtful enough to not become waste.
    </blockquote>
    <p>— Casey</p>
  </div>

  <div class="quote-card">
    <blockquote>
      Big fan of the Zine Club Mystery Objects, it is always a fun surprise and the objects have been unique and interesting. This is a great way to support an independent artist while also having fun mystery objects sent to you to brighten your day. Highly recommend!
    </blockquote>
    <p>— Thomas</p>
  </div>

  <h2 style="margin-top:2em;" id="stats">Current Stats</h2>

  <ul>
    <li>🗓️ <b>Club has existed for:</b> {% assign myVar="now" | date: "%s" %}{{ '2024-04-01' | date: "%s" | minus: myVar | divided_by: 3600 | divided_by: 24  | divided_by: 30.437 | round | abs }} months</li>
    <li>👤 <b>Members:</b> {{clubMembers}}</li>
    <li>✉️ <b>Mystery Objects sent:</b> {{mysteryObjectsSent}}</li>
    <li>📖 <b>E-zines sent:</b> {{quarterlyEzinesSent}}</li>
    <li>💸 <b>Monthly income:</b> ${{monthlyIncome}}</li>
    <li>🏁 <b>Current goal:</b> ${{fundingGoal}}/month</li>
    <li>🌀 <b>Weird art is being supported:</b> Yes!</li>
  </ul>

  {% assign fundingPercentage=monthlyIncome | divided_by: fundingGoal | times: 100 | round %}
  <div class="funding-thermometer">
    <div class="funding-mercury" style="background-size:calc(10000% / {{fundingPercentage}});width:{{fundingPercentage}}%;">
      <span class="funding-percentage">{{fundingPercentage}}%</span>
    </div>
  </div>

  <p class=funding-caption>Goal progress</p>

  <p>When the current goal is reached, I'll be able to increase the amount of time I spend creating each zine/object. This will significantly expand the scale of projects I'm able to take on within the context of this club.</p>

  <h3>Previously Achieved Goals</h3>

  <p>✅ <b>$200/month</b>: The project is sustainable for me in the long term
  <span class="subtle-caption">December 2024</span>
  </p>

</div>