---
title: Patch Log
description: A log of my patches created during Week of Patching
notecardStyle: 'background-image:radial-gradient(#bae8f3, #a8d3c8);'
thumbnail: https://s3.amazonaws.com/palomakop.tv/notes/patch-logs/colors_panning.jpg
customStyle: >
  :root {
    --main-bg-color:#a8d3c8;
    --main-bg-gradient:radial-gradient(#bae8f3, #a8d3c8);
  }
lightbox: true
updates:
  - date: "2026-07-06"
    message: "Started my [patch log]() for [Week of Patching](/week-of-patching)"
    image: https://s3.amazonaws.com/palomakop.tv/notes/patch-logs/colors_panning.jpg
pageCollection: patchLogs
---

{% assign patchLogs = collections.patchLogs %}

<h3>Table of Contents</h3>
<ul class="table-of-contents">
{% for log in patchLogs %}
  <li><a href="#{{ log.data.title | slugify }}">{{log.data.title}}</a></li>
{% endfor %}
</ul>

<div class="article-list">
{% for log in patchLogs %}
  {% assign logSlug = log.data.title | slugify %}
  <article id="{{ logSlug }}" class="blog-post">
    <h3>{{ log.data.title }}</h3>
    <p class="metadata">{{log.data.date | formatDateOnly}}</p>
    {{log.content | namespaceFootnotes: logSlug}}
  </article>
{% endfor %}
</div>
