---
layout: default
containerType: wide
title: Art
---

<h2>Multimedia Art</h2>

<p>An index of my creative projects from over the years.</p>

<nav>
  <ul>
    <li>
      <a href="/cv">Artist CV</a>
    </li>
  </ul>
</nav>

<div class="art-projects">

{% assign artCollection = collections.art | sort: "data.projectYear" | reverse %}

{%- for project in artCollection -%}
  <div class="art-project">
    <a href="{{ project.url }}">
    <div class="art-project-image-wrapper">
      {% image project.data.thumbnail, project.data.thumbnailAlt, 1440, "" %}
    </div>
    <div class="caption">
      <h3><span class="title">{{ project.data.title }}</span>, {{ project.data.projectYear }}</h3>
      <p>{{ project.data.description }}</p>
      <p class="tags">
      {%- for tag in project.data.projectTags -%}
      <span class="project-tag">{{ tag }}</span>
      {%- endfor -%}
      </p>
    </div>
    </a>
  </div>
  {%- endfor -%}

</div>
