---
layout: wide
title: Art
---

<h2>Multimedia Art</h2>

<p>An index of my creative projects from over the years.</p>

<nav>
  <ul>
    <li>
      <a href="/cv">Artist CV</a>
    </li>
  </ul>
</nav>

<div class="gallery">

{% assign artCollection = collections.art | sort: "data.workYear" | reverse %}

{%- for work in artCollection -%}
  <div class="gallery-item">
    <a href="{{ work.url }}">
    {% image work.data.thumbnail, work.data.thumbnailAlt, 1440, "" %}
    <div class="caption">
      <h2><span class="title">{{ work.data.title }}</span>, {{ work.data.workYear }}</h2>
      <p>{{ work.data.description }}</p>
      <p class="tags">
      {%- for tag in work.data.workTags -%}
      <span>{{ tag }}</span>
      {%- endfor -%}
      </p>
    </div>
    </a>
  </div>
  {%- endfor -%}

</div>
