---
layout: default
title: Blog
permalink: "blog/{% if pagination.pageNumber > 0 %}page/{{ pagination.pageNumber | plus: 1 }}/{% endif %}index.html"
pagination:
  data: collections.posts
  size: 5
  reverse: true
  alias: posts
customStyle: >
  :root {
    --main-bg-color:#cfd3ed;
    --main-bg-gradient:radial-gradient(#e9f7da, #cfebed, #cfd3ed);
  }
lightbox: true
---

<h2>Blog</h2>

<p>Here are some things I've been up to. To stay updated, subscribe to my <a href="/newsletter">email newsletter</a>, or visit my <a href="/now">now page</a>!</p>

{% include "paginav.liquid" %}

<div class="article-list">
{% for post in posts %}
  <article id="{{post.data.date}}" class="blog-post">
    <h3><a href="{{ post.url }}">{{ post.data.title }}</a></h3>
    <p class="metadata">{{post.data.date | addTimeToIsoDate | date: "%B %e, %Y"}} | <a href="{{ post.url }}">Permalink</a></p>
    {% image post.data.thumbnail, post.data.thumbnailAlt, 1440, "" %}
    {{post.content}}
    <img src="https://s3.amazonaws.com/palomakop.tv/now/icons/cube.svg" class="graphic" style="margin-top:1.5rem;width:1.3em;height:1.3em;">
  </article>
{% endfor %}
</div>

{% include "paginav.liquid" %}