---
layout: default
containerType: wide
title: Code
customStyle: >
  :root {
    --main-bg-color:var(--neutral-bg-color);
    --main-bg-gradient:none;
  }
  #intro-container {
    position:relative;
    height:fit-content;
  }
  #intro-placeholder {
    opacity:0;
    pointer-events:none;
  }
  #intro {
    position: absolute;
    top:0;
    left:0;
    margin:0;
  }
  .caret {
    display: inline-block;
    width: 2px;
    height: 1.2em;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='2' height='100%25' viewBox='0 0 2 100'%3E%3Cline x1='1' y1='0' x2='1' y2='100' stroke='%23000' stroke-width='2'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    vertical-align: text-bottom;
    animation: blink-caret 0.75s step-end infinite;
  }
  @keyframes blink-caret {
    from, to { opacity:1; }
    50% { opacity:0; }
  }
  .fade-in-image {
    opacity:0;
    transition: all 0.5s ease-in-out;
    background-color:var(--neutral-bg-color);
    transform:translateY(1em);
  }
  .mobile-thumbnail .fade-in-image {
    transition-delay: 0.5s;
  }
  .fade-in-image.loaded {
    opacity:1;
    transform:translateY(0);
  }
  @media (scripting:none) {
    #intro {
      display:none;
    }
    #intro-placeholder {
      opacity:1;
      pointer-events:all;
    }
    .fade-in-image {
      opacity:1;
      transform:translateY(0);
    }
  }
---

<h2>Web Development Projects</h2>

<div id="intro-container">
  <p id="intro" aria-hidden="true"><span id="typed-text"></span><span class="caret"></span></p>
  <p id="intro-placeholder">Hello! I'm Paloma Kop, and I love building things for the web. Here are some of my projects.</p>
</div>

<nav>
  <ul>
    <li>
      <a href="https://github.com/palomakop/" target="_blank">GitHub</a>
    </li>
    <li class="mobile-only">
      <a href="/contact">Contact</a>
    </li>
  </ul>
</nav>

<script>
var i = 0;
var txt = document.getElementById("intro-placeholder").innerHTML.trim();
var speed = 50;
var intro = document.getElementById("intro");
var textContainer = document.getElementById('typed-text');
var caret = document.querySelector('.caret');

if (sessionStorage.getItem("typingComplete")) {
  textContainer.textContent = txt;
  intro.removeChild(caret);
} else {
  setTimeout(function() {
    startTyping();
  }, 1000);
}

function startTyping() {
  if (i < txt.length) {
    textContainer.textContent += txt.charAt(i);
    i++;
    setTimeout(startTyping, speed);
  } else {
    sessionStorage.setItem("typingComplete", "true");
    setTimeout(function() {
      intro.removeChild(caret);
  }, 5000);
  }
}
</script>

{% comment %} <nav>
  <ul>
    <li>
      <a href="/resume">Resumé</a>
    </li>
  </ul>
</nav> {% endcomment %}

{% assign codeCollection = collections.code | sort: "data.projectIndex" %}
<div class="code-projects">
  {%- for project in codeCollection -%}
  <article class="code-project">
    <div class="code-project-header">
      <div>
        {% image project.data.thumbnail, project.data.thumbnailAlt, 720, "fade-in-image" %}
        {% if project.data.mobileThumbnail %}
        <div class="mobile-thumbnail">
          {% image project.data.mobileThumbnail, "", 250, "fade-in-image" %}
        </div>
        {% endif %}
      </div>
      <div>
        <h3><span class="title">{{ project.data.title }}</span></h3>
        <p>{{ project.data.description }}</p>
        <p class="tags">
          {%- for tag in project.data.projectTags -%}
          <span class="project-tag">{{ tag }}</span>
          {%- endfor -%}
        </p>
        <nav>
          <ul>
            {% if project.data.codeLink %}
            <li>
              <a href="{{ project.data.codeLink }}" target="_blank">Code</a>
            </li>
            {% endif %}
            {% if project.data.demoLink %}
            <li>
              <a href="{{ project.data.demoLink }}" target="_blank">Demo</a>
            </li>
            {% endif %}
          </ul>
        </nav>
      </div>
    </div>
    <div class="project-details">
      {{project.content}}
    </div>
  </article>
  {%- endfor -%}
</div>

<h2>Community Infrastructure</h2>

<p>I deploy and administrate self-hosted services for community organizations.</p>

{% assign communityCollection = collections.communityProjects | sort: "data.projectIndex" %}
<div class="code-projects">
  {%- for project in communityCollection -%}
  <article class="code-project">
    <div class="code-project-header">
      <div>
        {% image project.data.thumbnail, project.data.thumbnailAlt, 720, "fade-in-image" %}
        {% if project.data.mobileThumbnail %}
        <div class="mobile-thumbnail">
          {% image project.data.mobileThumbnail, "", 250, "fade-in-image" %}
        </div>
        {% endif %}
      </div>
      <div>
        <h3><span class="title">{{ project.data.title }}</span></h3>
        <p>{{ project.data.description }}</p>
        <p class="tags">
          {%- for tag in project.data.projectTags -%}
          <span class="project-tag">{{ tag }}</span>
          {%- endfor -%}
        </p>
        <nav>
          <ul>
            {% if project.data.codeLink %}
            <li>
              <a href="{{ project.data.codeLink }}" target="_blank">Code</a>
            </li>
            {% endif %}
            {% if project.data.demoLink %}
            <li>
              <a href="{{ project.data.demoLink }}" target="_blank">Link</a>
            </li>
            {% endif %}
          </ul>
        </nav>
      </div>
    </div>
    <div class="project-details">
      {{project.content}}
    </div>
  </article>
  {%- endfor -%}
</div>

<h2>Client Websites</h2>

{% assign clientCollection = collections.clientSites | sort: "data.projectIndex" %}
<div class="code-projects">
  {%- for project in clientCollection -%}
  <article class="code-project">
    <div class="code-project-header">
      <div>
        {% image project.data.thumbnail, project.data.thumbnailAlt, 720, "fade-in-image" %}
        {% if project.data.mobileThumbnail %}
        <div class="mobile-thumbnail">
          {% image project.data.mobileThumbnail, "", 250, "fade-in-image" %}
        </div>
        {% endif %}
      </div>
      <div>
        <h3><span class="title">{{ project.data.title }}</span></h3>
        <p>{{ project.data.description }}</p>
        <p class="tags">
          {%- for tag in project.data.projectTags -%}
          <span class="project-tag">{{ tag }}</span>
          {%- endfor -%}
        </p>
        <nav>
          <ul>
            {% if project.data.codeLink %}
            <li>
              <a href="{{ project.data.codeLink }}" target="_blank">Code</a>
            </li>
            {% endif %}
            {% if project.data.demoLink %}
            <li>
              <a href="{{ project.data.demoLink }}" target="_blank">Link</a>
            </li>
            {% endif %}
          </ul>
        </nav>
      </div>
    </div>
    <div class="project-details">
      {{project.content}}
    </div>
  </article>
  {%- endfor -%}
</div>

<div class="call-to-action">
  <h2>Thanks for checking out my projects!</h2>
  <p>Interested in working together?</p>

  <nav>
    <ul>
      <li>
        <a href="/contact" class="rainbutton">Get in touch</a>
      </li>
    </ul>
  </nav>
</div>

<script>
document.addEventListener("DOMContentLoaded", function() {
  const fadeImages = document.querySelectorAll('.fade-in-image');

  const observer = new IntersectionObserver((entries, observer) => {
    entries.forEach(entry => {
      if (entry.isIntersecting) {
        const img = entry.target;
        const handleLoad = function() {
          img.classList.add('loaded');
          img.removeEventListener('load', handleLoad);
        };

        img.addEventListener('load', handleLoad);

        if (img.complete) {
          img.classList.add('loaded');
        }

        observer.unobserve(img);
      }
    });
  }, {
    rootMargin: '100px 0px', // Start loading a bit before the image enters viewport
    threshold: 0.01
  });

  fadeImages.forEach(img => {
    observer.observe(img);
  });
});
</script>