---
layout: default
title: Notes
containerType: wide
customStyle: >
  :root {
    --main-bg-color:var(--neutral-bg-color);
    --main-bg-gradient:none;
  }
---

<h2>Notes</h2>

<p>This new section is a work in progress. Please excuse the mess.</p>

<div class="notes-index">

{% assign notesCollection = collections.notes | sort: "data.date" | reverse %}

{%- for note in notesCollection -%}
  <a href="{{ note.url }}">
    <h3>{{ note.data.title }}</h3>
    <h4>{{ note.data.subtitle }}</h4>
    <small><b>Created:</b> {{ note.data.dateCreated  | addTimeToIsoDate | date: "%B %e, %Y" }} | <b>Updated:</b> {{ note.date | date: "%B %e, %Y" }}</small>
    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" class="folded-corner">
      <path d="M 2 2 L 38 38 L 2 38 Z" 
        fill="none" 
        stroke="currentColor" 
        stroke-width="1.5px" 
        vector-effect="non-scaling-stroke"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
    </svg>
  </a>
{%- endfor -%}

</div>