---
layout: default
title: Recurse Center Log
customStyle: >
  :root {
    --main-bg-color:#dbe2cc;
    --main-bg-gradient:radial-gradient(#dcead8, #ceebd9, #dbe2cc);
  }
---

<h2 style="display:flex;flex-wrap:no-wrap;align-items:center;gap:1ch;color:#23a050;"><img src="https://s3.amazonaws.com/palomakop.tv/icons/recurse.svg" class="centered" style="margin:0;max-width:3ch;" alt=""/> <span>{{title}}</span></h2>

<p>I attended a 6-week coding retreat at {% extLink "Recurse Center" "https://recurse.com" %} from February 17 - March 28, 2025. Below is a log of my activities and projects during this time.</p>

{% assign recurseLogs = collections.recurseLogs %}

<h3>Table of Contents</h3>
<ul class="table-of-contents">
{% for log in recurseLogs %}
  <li><a href="#{{ log.data.title | slugify }}">{{log.data.title}}</a></li>
{% endfor %}
</ul>

<div class="article-list">
{% for log in recurseLogs %}
  <article id="{{ log.data.title | slugify }}" class="blog-post">
    <h3>{{ log.data.title }}</h3>
    <p class="metadata">{{log.data.date | formatDateOnly}}</p>
    {{log.content}}
  </article>
{% endfor %}
</div>
