---
layout: wide
title: Work
---

<h2>Selected Work</h2>

<p>An index of creative projects from over the years. For a more technical overview of my work, see my {% extLink "technical projects list" "https://github.com/palomakop/technical-projects-list" %} on Github.

<div class="gallery">

{% assign workCollection = collections.work | sort: "data.workYear" | reverse %}

{%- for work in workCollection -%}
  <div class="gallery-item">
    <a href="{{ work.url }}">
    {% image work.data.thumbnail, work.data.thumbnailAlt, 1440, "" %}
    <div class="caption">
      <h2><span class="title">{{ work.data.title }}</span>, {{ work.data.workYear }}</h2>
      <p>{{ work.data.description }}</p>
      <p class="tags">
      {%- for tag in work.data.workTags -%}
      <span>{{ tag }}</span>
      {%- endfor -%}
      </p>
    </div>
    </a>
  </div>
  {%- endfor -%}

</div>
